@model Argos.Models.Purchasing.Purchase

@using Argos.Models
@using Argos.Support



@Html.HiddenFor(model => model.BranchId)
@Html.HiddenFor(model => model.SupplierId)


<div class="col-md-8">
    <div class="row">
        <div class="col-md-12 row  form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "control-label col-md-2 col-sm-12 col-xs-12" })
                <div class="input-group col-md-10 col-sm-12 col-xs-12">
                    <span class="input-group-addon"><i class="fa fa-handshake-o"></i></span>
                    @Html.EditorFor(model => model.Supplier.Name, new { htmlAttributes = new { @class = "form-control text-capitalize input-sm", autocomplete = "off", @readonly = "true" } })
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="button" title="Buscar proveedores" onclick="ShowSuppliers()">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.PayFormId, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                <div class="input-group col-md-6 col-sm-12 col-xs-12">
                    <span class="input-group-addon"><i class="fa fa-cc-paypal"></i></span>
                    @Html.DropDownListFor(model => model.PayFormId, AppCache.Instance.PayForms.ToSelectList(), htmlAttributes: new { @class = "form-control text-capitalize input-sm" })
                </div>
                @Html.ValidationMessageFor(model => model.PayFormId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bill, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                <div class="input-group col-md-6 col-sm-12 col-xs-12">
                    <span class="input-group-addon"><i class="fa fa-file-excel-o"></i></span>
                    @Html.EditorFor(model => model.Bill, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off" } })
                </div>
                @Html.ValidationMessageFor(model => model.Bill, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                <div class="input-group col-md-6 col-sm-12 col-xs-12">
                    <span class="input-group-addon"><i class="fa fa-cc-paypal"></i></span>
                    @Html.DropDownListFor(model => model.Status, AppCache.Instance.PurchaseStatus.ToSelectList(), htmlAttributes: new { @class = "form-control text-capitalize input-sm" })
                </div>
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6  form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                <div class="input-group col-md-5 col-sm-12 col-xs-12">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control input-sm", autocomplete = "off" } })
                </div>
                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                <div class="input-group  col-md-5 col-sm-12 col-xs-12">
                    <span class="input-group-addon"><i class="fa fa-calendar-times-o"></i></span>
                    @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                </div>
                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                <div class="input-group col-md-5 col-sm-12 col-xs-12">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.EditorFor(model => model.ShipDate, new { htmlAttributes = new { @class = "form-control input-sm", autocomplete = "off" } })
                </div>
                @Html.ValidationMessageFor(model => model.ShipDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


  
</div>

<div class="form-horizontal col-md-3 col-md-offset-1">
    <div class="form-group">
        @Html.LabelFor(model => model.SubTotal, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
        <div class="input-group col-md-8 col-sm-12 col-xs-12">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            @Html.EditorFor(model => model.SubTotal, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "true" } })
        </div>
        @Html.ValidationMessageFor(model => model.SubTotal, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TaxAmt, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
        <div class="input-group col-md-8 col-sm-12 col-xs-12">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            @Html.EditorFor(model => model.TaxAmt, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "true" } })
        </div>
        @Html.ValidationMessageFor(model => model.TaxAmt, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Freight, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
        <div class="input-group col-md-8 col-sm-12 col-xs-12">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            @Html.EditorFor(model => model.Freight, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "true" } })
        </div>
        @Html.ValidationMessageFor(model => model.Freight, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TotalDue, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
        <div class="input-group col-md-8 col-sm-12 col-xs-12">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            @Html.EditorFor(model => model.TotalDue, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "true" } })
        </div>
        @Html.ValidationMessageFor(model => model.TotalDue, "", new { @class = "text-danger" })
    </div>
</div>


<script>
    function ShowSuppliers()
    {
        ShowAssingSupplier(function (id, name)
        {
            $("#Supplier_Name").val(name);
            $("#SupplierId").val(id);
        });
    }
</script>