@model IEnumerable<Argos.Models.Operative.Account>


<div class="panel panel-default">
    <div class="panel-body">
        <table id="tbAccounts" class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                  
                    <th>
                        @Html.DisplayNameFor(model => model.ClientId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HireDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HirePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HireDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HirePrice)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                        <td>
                           <button class="btn btn-primary" title="Ver detalle y editar" onclick="SelectAccount(@item.AccountId)">
                               <span class="fa fa-edit"></span>
                           </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function ()
    {
        Paginate("#tbAccounts", 8);
    });

    function SelectAccount(id)
    {
        ShowLoading('static');
        window.location = '@Url.Action("ManageAccount")/' + id;
    }
</script>