<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">

            <li>
                <a><i class="fa fa-home"></i> Inicio <span class="fa fa-chevron-down"></span></a>
                @*<ul class="nav child_menu">
                    <li><a href='@Url.Action("Index","Home")'>Dashboard</a></li>
                    <li><a href='@Url.Action("Index2","Home")'>Dashboard 2</a></li>
                    <li><a href='@Url.Action("Index3","Home")'>Dashboard 3</a></li>
                </ul>*@
            </li>

            <li>
                <a><i class="fa fa-wrench"></i> Producción <span class="fa fa-chevron-down" /></a>
                <ul class="nav child_menu">
                    <li><a href='@Url.Action("Clients","Catalog")' onclick="ShowLoading('static')">&nbsp;Clientes<span class="fa fa-users" style="float:left" /></a></li>
                    <li><a href='@Url.Action("Accounts","Production")' onclick="ShowLoading('static')">&nbsp;Cuentas<span class="fa fa-files-o" style="float:left" /></a></li>
                    <li><a href='@Url.Action("Services","Production")' onclick="ShowLoading('static')">&nbsp;Servicios <span class="fa fa-cogs" style="float:left" /></a></li>
                    <li><a href='@Url.Action("Charges","Production")' onclick="ShowLoading('static')">&nbsp;Cargos y cobros <span class="fa fa-credit-card" style="float:left" /></a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-suitcase"></i> Recursos Humanos <span class="fa fa-chevron-down" /></a>
                <ul class="nav child_menu">
                    <li><a href='@Url.Action("Employees","Catalog")' onclick="ShowLoading('static')">&nbsp;Empleados<span class="fa fa-black-tie" style="float:left" /></a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-cart-plus"></i> Compras <span class="fa fa-chevron-down" /></a>
                <ul class="nav child_menu">
                    <li><a href='@Url.Action("Suppliers","Catalog")' onclick="ShowLoading('static')">&nbsp;Proveedores<span class="fa fa-handshake-o" style="float:left" /></a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-archive"></i> Inventario<span class="fa fa-chevron-down" /></a>
                <ul class="nav child_menu">
                    <li><a href='@Url.Action("Products","Catalog")' onclick="ShowLoading('static')">&nbsp;Productos e Insumos<span class="fa fa-cubes" style="float:left" /></a></li>
                </ul>
            </li>
        </ul>
    </div>
   
</div>
