@model IEnumerable<Argos.ViewModels.Generic.PersonViewModel<Client>>
@using Argos.Support;
@using Argos.Models.Sales

<table id="TbClientList" class="table table-responsive jambo_table">
    <thead>
        <tr class="heading">
            <th>
                <span class="fa fa-camera control-label"></span>
            </th>
            <th>
                <span class="fa fa-user control-label"></span>
                @Html.DisplayName("Cliente")
            </th>
            <th>
                <span class="fa fa-id-badge control-label"></span>
                @Html.DisplayName("RFC")
            </th>
            <th>
                <span class="fa fa-black-tie control-label"></span>
                @Html.DisplayName("Razón Social")
            </th>
            <th>
                <span class="fa fa-phone control-label"></span>
                @Html.DisplayName("Teléfono")
            </th>
            <th>
                <span class="fa fa-envelope control-label"></span>
                @Html.DisplayName("Email")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Image" class="img-responsive img-rounded" style="max-height:50px" />
                </td>
                <td class="text-capitalize">
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.Person.FTR)
                </td>
                <td class="text-capitalize">

                    @Html.DisplayFor(modelItem => item.Person.BusinessName)
                </td>

                <td>
                    @foreach (var phone in item.Person.PhoneNumbers)
                    {
                        @Html.DisplayFor(modelItem => phone.Phone)<br />
                    }
                </td>
                <td class="text-lowercase">
                    @foreach (var email in item.Person.EmailAddresses)
                    {
                        @Html.DisplayFor(modelItem => email.Email)<br />
                    }
                </td>

                <td>
                    <button class="@item.EditButton" type="button" onclick="BeginUpdateClient(@item.Person.EntityId)">
                        <span class="@Icons.Edit"></span>
                    </button>
                    <button class="@item.DeleteButton" type="button" onclick="BeginDelete('@item.Person.EntityId','@item.Person.Name')">
                        <span class="@Icons.Delete"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var idClient = 0;

    $(document).ready(function () {
        Paginate("#TbClientList", 8, true, "#txtName")
    });

    function BeginDelete(id, name)
    {
        idClient = id;
        var hdr = "Eliminar cliente!";
        var body = "Esta seguro que deseas eliminar el cliente " + name;
        ShowMessage(hdr, body, 'confirm', DeleteClient, OnDeleteCanceled, 'static')
    }

    function DeleteClient()
    {
        ExecuteAjax('@Url.Action("DeletePerson","Catalog")', { id: idClient }, function (response)
        {
            HideLoading(function ()
            {
                ShowNotify(response.Header, response.Result, response.Body, 2500);
            });
        });
    }


    function OnDeleteCanceled()
    {
        console.log("Confirm Cerrado");
    }
</script>