@model Argos.ViewModels.Generic.PersonViewModel<Client>
@using Argos.Models.Operative


@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("SaveClient", "Catalog", FormMethod.Post, new { id = "ClientForm" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs clearfix">
        <li class="active">
            <a data-toggle="tab" href="#general" id="tabMainProduct" style="background-color:whitesmoke !important">
                <span class="fa fa-users"></span>
                Datos del cliente
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#addresses" id="tabAddress" style="background-color:whitesmoke !important">
                <span class="fa fa-street-view"></span>
                Direcciones
            </a>
        </li>

        <li class="pull-right">
            <div>
                <button type="submit" id="EditClientSave" title="Guardar datos del cliente" class="btn btn-success  btn-round">
                    <span class="fa fa-save"></span>

                </button>
                <button type="button" class="btn btn-default btn-round" id="EditCancel">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </li>
    </ul>

    <div class="tab-content row">
        <div id="general" class="tab-pane fade in active">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-default">
                <div class="panel-body">
                    <hr />
                    <div class="row">
                        <div class="col-md-3 btn-group-vertical">
                            <div style="position:relative">
                                <img src="@Model.Image" id="imgPerson" class="img-responsive" style="min-height:100px" />
                                <button type="button" id="btnDropImage" class="@Model.DropImageButton" style="position:absolute; top:0;" onclick="RemoveImage()">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>
                            <label id="btnUpload" class="btn btn-success btn-xs">
                                <input type="file" name="images" onchange="OnImageLoaded(this)" style="display: none;">
                                <span class="fa fa-upload"></span>
                            </label>
                        </div>

                        <div class="form-group col-md-8">
                            @Html.LabelFor(model => model.Person.Name, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.EditorFor(model => model.Person.Name, new { htmlAttributes = new { @class = "form-control text-capitalize input-sm", autocomplete = "off" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Person.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Person.FTR, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-badge"></i></span>
                                @Html.EditorFor(model => model.Person.FTR, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Person.FTR, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-8">
                            @Html.LabelFor(model => model.Person.BusinessName, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
                                @Html.EditorFor(model => model.Person.BusinessName, new { htmlAttributes = new { @class = "form-control text-capitalize input-sm", autocomplete = "off" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Person.BusinessName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Partial("_EmailGroup", Model.Emails)
                        </div>

                        <div class="col-md-6">
                            @Html.Partial("_PhoneGroup", Model.Phones)
                        </div>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(m => m.Person.EntityId)
            @Html.HiddenFor(m => m.Person.ImagePath)
            @Html.HiddenFor(m => m.DropImage)
        </div>

        <div id="addresses" class="tab-pane fade in  panel-group" style="overflow-y:auto; max-height:380px">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Partial("_AddressGroup", Model.Addresses)
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function ()
    {
        $("#Person_Phone").mask("(999) 999 99 99");

        $("#Person_FTR").mask("aaa*99999****");
    });

</script>