
@model Argos.ViewModels.Generic.EmailVm
@using Argos.ViewModels.Generic

@Scripts.Render("~/bundles/jqueryval")


<form id="FormEmail">
    <div  class="modal-content small">
        <div class="modal-header">
            <h4 class="modal-title">Nuevo correo electrónico</h4>
        </div>

        <div class="modal-body form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.EmailTypeId, htmlAttributes: new { @class = "control-label col-md-2  col-sm-12 col-xs-12" })
                <div class="col-md-10  col-sm-12 col-xs-12">
                    @Html.DropDownListFor(model => model.EmailTypeId, Model.EmailTypes, "", htmlAttributes: new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.EmailTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 col-sm-12 col-xs-12" })
                <div class="col-md-10  col-sm-12 col-xs-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-sm  text-lowercase", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success btn-sm" type="button" onclick="AddEmail()">
                <span class="fa fa-check"></span>
                Agregar
            </button>

            <button class="btn btn-default  btn-sm" type="button" onclick="HideChildModal()">
                <span class="fa fa-times"></span>
                Cancelar
            </button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function ()
    {
        var form = $("#FormEmail");
        form.validate();
    });

    function AddEmail()
    {
        var form = $("#FormEmail");

        if (!form.valid())
            return;

        var newRow = $("#NewEmailRow").clone().removeAttr("id").removeClass("hidden");

        var email = { Email: $("#Email").val(), EmailTypeId: $("#EmailTypeId").val(), EmailType: $("#EmailTypeId option:selected").text() };

        $(newRow).find("#lblEmail").text(email.Email);
        $(newRow).find("#item_Email").val(email.Email);
        $(newRow).find("#lblEmailType").text(email.EmailType);
        $(newRow).find("#item_EmailTypeId").val(email.EmailTypeId);
   
        $("#tbEmails").append(newRow);

        HideChildModal();
    }

</script>