@model List<Argos.ViewModels.Inventory.ProductVM>
@using Argos.Support


    <table id="tbProducts" class="table  dataTable no-footer jambo_table">
        <thead>
            <tr class="heading2" >
                <th>Imagen</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Marca</th>
                <th>Unidad</th>
                <th>Venta</th>
                <th>Compra</th>
                <th>Almacen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var items in Model)
        {
                <tr class='@items.RowState'>
                  
                    <td class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
                        <img src='@items.ImagePath' class="img-responsive" style="max-height:100px"/>
                    </td>
                    <td>
                        @Html.DisplayFor(model=> items.Product.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(model => items.Product.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => items.Product.TradeMark)
                    </td>
                    <td>
                        @Html.DisplayFor(model => items.Product.MeasureUnitId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => items.Product.IsForSale)
                    </td>
                    <td>
                        @Html.DisplayFor(model => items.Product.IsForPurchase)
                    </td>
                    <td>
                        @Html.DisplayFor(model => items.Product.IsStockable)
                    </td>
             
                    <td class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <button class="@items.EditButton" title="Editar datos de producto"
                                onclick="BeginUpdateProduct('@items.Product.ProductId')">
                            <span class="@Icons.Edit"></span>
                        </button>

                        <button class="@items.DeleteButton" title="Eliminar producto"
                                onclick="BeginDelete('@items.Product.ProductId')">
                            <span class="@Icons.Delete"></span>
                        </button>

                        <button class="@items.ActivateButton" title="Reactivar producto"
                                onclick="BeginActivate('@items.Product.ProductId')">
                            <span class="@Icons.Activate"></span>
                        </button>

                    </td>
                </tr>
        }
        </tbody>
    </table>




<script>
    var idProduct = 0;

    $(document).ready(function ()
    {
       //$.fn.dataTable.ext.classes.sPageButton = 'btn btn-success';
        
        Paginate("#tbProducts", 8, true, "#Filter_Text")

        //$("#tbProducts_previous").removeClass("btn btn-success");
        //$("#tbProducts_next").removeClass("btn btn-success");
    });

    function BeginDelete(id, description) {
        idProduct = id;
        var hdr = "Eliminar Producto!";
        var body = "Esta seguro que deseas eliminar el producto del catálogo " + description;
        ShowMessage(hdr, body, 'confirm', DeleteProduct, null, 'static');
    }

    function DeleteProduct() {
        ExecuteAjax('@Url.Action("DeleteProduct","Catalog")', { id: idProduct }, function (response) {
            HideLoading(function () {
                if (response.Result == '@Cons.ResponseSuccess') {
                    ShowMessage(response.Header, response.Body, response.Result, null, SearchProducts, 'static');
                }
                else {
                    ShowMessage(response.Header, response.Body, response.Result, null, null, 'static');
                }
            });
        });
    }
</script>