@model List<Argos.ViewModels.Inventory.ProductVM>
@using Argos.Support


<table id="tbProducts" class="table table-hover text-uppercase">
    <thead class="panel-heading">
        <tr hidden="hidden">
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr class='@items.RowState'>
                <td>
                    <div class="col-md-2 col-xs-4" style="vertical-align:central">
                        <img src='@items.ImagePath' class="img-responsive" />
                    </div>
                    <div class='col-md-8  col-xs-6' onclick="Detail(@items.Product.ProductId,@items.Product.IsActive)" onmouseover="SetPointer(this)">
                        <h4>
                            <label>@items.Product.Code</label>
                        </h4>

                        <h4>
                            @Html.DisplayFor(model => items.Product.Description)
                        </h4>

                        <h6>
                            Por @items.TradeMark
                            <span class="fa fa-registered"></span>
                        </h6>

                        @if (items.Product.IsStockable)
                        {
                            <h4>
                                <label>
                                    @Html.DisplayFor(model => items.Product.Price)
                                </label>
                                |
                                <label>
                                    @Html.DisplayFor(model => items.Product.LowestPrice)
                                </label>
                            </h4>
                            <h5>
                                <span class="badge bg-info">
                                    @items.Stock.Quantity
                                </span>
                                disponibles
                                <span class="fa fa-cubes"></span>
                                Unidad: @items.Product.MeasureUnitId
                            </h5>
                            <h6>
                                Estante @items.Stock.Shelf
                                <span class="fa fa-bars"></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Anaquel @items.Stock.Bin
                                <span class="fa fa-archive"></span>
                            </h6>
                        }
                      
                    </div>

                    @if (!items.ActionsAllowed)
                    {
                        <div class="col-md-2 btn-group-vertical hidden-xs hidden-sm" style="vertical-align:central">

                            @if (!items.CanEdit)
                            {
                                <button class="btn btn-warning" title="Editar datos de producto"
                                        onclick="BeginUpdateProduct('@items.Product.ProductId')">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            }

                            @if (items.CanDelete)
                            {
                                <button class="btn btn-danger" title="Eliminar producto"
                                        onclick="BeginDelete('@items.Product.ProductId')">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            }

                            @if (items.CanActivate)
                            {
                                <button class="btn btn-success" title="Reactivar producto"
                                        onclick="BeginActivate('@items.Product.ProductId')">
                                    <span class="fa fa-recycle"></span>
                                </button>
                            }
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>




<script>
    var idProduct = 0;

    $(document).ready(function ()
    {
        //$.fn.dataTable.ext.classes.sPageButton = 'btn btn-primary';

        Paginate("#tbProducts", 8, false)

        //$("#tbProducts_previous").removeClass("btn btn-primary");
        //$("#tbProducts_next").removeClass("btn btn-primary");
    });

    function BeginDelete(id, description)
    {
        idProduct = id;
        var hdr = "Eliminar Producto!";
        var body = "Esta seguro que deseas eliminar el producto del catálogo " + description;
        ShowMessage(hdr, body, 'confirm', DeleteProduct, null, 'static');
    }

    function DeleteProduct()
    {
        ExecuteAjax('@Url.Action("DeleteProduct","Catalog")', { id: idProduct }, function (response) {
            HideLoading(function () {
                if (response.Result == '@Cons.ResponseSuccess') {
                    ShowMessage(response.Header, response.Body, response.Result, null, SearchProducts, 'static');
                }
                else {
                    ShowMessage(response.Header, response.Body, response.Result, null, null, 'static');
                }
            });
        });
    }
</script>