@model List<Argos.ViewModels.Inventory.ProductVM>
@using Argos.Support


    <table id="tbProducts" class="table  text-uppercase">
        <thead>
            <tr hidden="hidden">
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var items in Model)
        {
                <tr class='@items.RowState'>
                    <td class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
                        <img src='@items.ImagePath' class="img-responsive" />
                    </td>
                    <td class="col-lg-9 col-md-9 col-xs-6 col-sm-6" onclick="Detail(@items.Product.ProductId,@items.Product.IsActive)" 
                        onmouseover="SetPointer(this)">
                        <h4>
                            <label>@items.Product.Code</label>
                        </h4>

                        <h4>
                            @Html.DisplayFor(model => items.Product.Description)
                        </h4>

                        <h6>
                            Por @items.TradeMark
                            <span class="fa fa-registered"></span>
                        </h6>

                        @if (items.Product.IsForSale)
                        {
                            <h4>
                                <label>
                                    @Html.DisplayFor(model => items.Product.Price)
                                </label>
                                |
                                <label>
                                    @Html.DisplayFor(model => items.Product.LowestPrice)
                                </label>
                            </h4>
                        }
                        else
                        {
                           <label class="text-danger">No se aplica en venta</label><br />
                        }

                        @if(!items.Product.IsStockable)
                        {
                            <label class="text-warning">No Aplica Inventario</label><br />
                            <h5>
                                <span class="fa fa-cubes"></span>
                                Unidad: @items.Product.MeasureUnitId
                            </h5>
                        }
                        else
                        {
                            <h5>
                                <span class="badge bg-info">
                                    @items.Stock.Quantity
                                </span>
                                disponibles
                                <span class="fa fa-cubes"></span>
                                Unidad: @items.Product.MeasureUnitId
                            </h5>
                            <h6>
                                Estante  @items.Stock.Shelf
                                <span class="fa fa-bars"></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Anaquel @items.Stock.Bin
                                <span class="fa fa-archive"></span>
                            </h6>
                        }
                    </td>
                    <td class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <button class="@items.EditButton" title="Editar datos de producto"
                                onclick="BeginUpdateProduct('@items.Product.ProductId')">
                            <span class="@Icons.Edit"></span>
                        </button>

                        <button class="@items.DeleteButton" title="Eliminar producto"
                                onclick="BeginDelete('@items.Product.ProductId')">
                            <span class="@Icons.Delete"></span>
                        </button>

                        <button class="@items.ActivateButton" title="Reactivar producto"
                                onclick="BeginActivate('@items.Product.ProductId')">
                            <span class="@Icons.Activate"></span>
                        </button>

                    </td>
                </tr>
        }
        </tbody>
    </table>




<script>
    var idProduct = 0;

    $(document).ready(function () {
       //$.fn.dataTable.ext.classes.sPageButton = 'btn btn-success';
        
        Paginate("#tbProducts", 8, false)

        //$("#tbProducts_previous").removeClass("btn btn-success");
        //$("#tbProducts_next").removeClass("btn btn-success");
    });

    function BeginDelete(id, description) {
        idProduct = id;
        var hdr = "Eliminar Producto!";
        var body = "Esta seguro que deseas eliminar el producto del catálogo " + description;
        ShowMessage(hdr, body, 'confirm', DeleteProduct, null, 'static');
    }

    function DeleteProduct() {
        ExecuteAjax('@Url.Action("DeleteProduct","Catalog")', { id: idProduct }, function (response) {
            HideLoading(function () {
                if (response.Result == '@Cons.ResponseSuccess') {
                    ShowMessage(response.Header, response.Body, response.Result, null, SearchProducts, 'static');
                }
                else {
                    ShowMessage(response.Header, response.Body, response.Result, null, null, 'static');
                }
            });
        });
    }
</script>