@model Argos.Models.Inventory.Product
@using Argos.Support

<div class="col-md-5 form-group">
    @Html.LabelFor(m=> m.Code, htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control text-uppercase" } })
    </div>
    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-6 col-md-offset-1">
    @Html.LabelFor(m=> m.SubCategory.CategoryId, htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
        @Html.DropDownListFor(m => m.SubCategory.CategoryId, (SelectList)ViewBag.Categories, "", new { @class = "form-control text-capitalize", required = "true" })
    </div>
    @Html.ValidationMessageFor(m => m.SubCategory.CategoryId, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-6 col-md-offset-1">
    @Html.LabelFor(m => m.SubCategoryId, htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
        @Html.DropDownListFor(m => m.SubCategoryId, (SelectList)ViewBag.SubCategories, "", new { @class = "form-control text-capitalize", required = "true" })
    </div>
    @Html.ValidationMessageFor(m => m.SubCategoryId, "", new { @class = "text-danger" })
</div>

<div class="col-md-12 form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
        @Html.TextAreaFor(model => model.Description, 3, 1, htmlAttributes: new { @class = "form-control text-capitalize" })
    </div>
    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
</div>

<div class="col-md-6 form-group">
    @Html.LabelFor(model=> model.TradeMark, htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-registration-mark"></i></span>
        @Html.EditorFor(model => model.TradeMark, new { htmlAttributes = new { @class = "form-control text-uppercase", required = "true" } })
    </div>
    @Html.ValidationMessageFor(model => model.TradeMark, "", new { @class = "text-danger" })
</div>

<div class="col-md-3 form-group">
    @Html.LabelFor(model => model.MeasureUnitId, htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
        @Html.DropDownListFor(model => model.MeasureUnitId, (SelectList)ViewBag.MeasureUnits, new { @class = "form-control text-capitalize" })
    </div>
    @Html.ValidationMessageFor(model => model.MeasureUnitId, "", new { @class = "text-danger" })
</div>

<div class="col-md-3 form-group">
    @Html.LabelFor(model=> model.Cost, htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
        @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control", required = "true" } })
    </div>
    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
</div>

<div class="col-md-4 form-group">
    @Html.LabelFor(model => model.LowestPrice, htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-percent"></i></span>
        @Html.EditorFor(model => model.LowestProfit, new { htmlAttributes = new { @class = "form-control" } })
        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
        @Html.EditorFor(model => model.LowestPrice, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.ValidationMessageFor(model => model.LowestProfit, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(model => model.LowestPrice, "", new { @class = "text-danger" })
</div>

<div class="col-md-4 form-group">
    @Html.LabelFor(model => model.HighestPrice, htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-percent"></i></span>
        @Html.EditorFor(model => model.HighestProfit, new { htmlAttributes = new { @class = "form-control" } })
        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
        @Html.EditorFor(model => model.HighestPrice, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.ValidationMessageFor(model => model.HighestPrice, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(model => model.HighestProfit, "", new { @class = "text-danger" })
</div>


<div class="col-md-2 col-md-offset-1 form-group">
    @Html.Label("Fila", htmlAttributes: new { @class = "control-label" })
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-bars"></i></span>
        @Html.EditorFor(model => model.Row, new { htmlAttributes = new { @class = "form-control", required = "true" } })
    </div>
    @Html.ValidationMessageFor(model => model.Row, "", new { @class = "text-danger" })
</div>


<label class="text-danger" id="lblQuickAddError"></label>
@Html.HiddenFor(model => model.ProductId)

