@model IEnumerable<Argos.ViewModels.Generic.SupplierVm>
@using Argos.Support

<table id="TbSupplierList" class="table jambo_table dataTable table-hover">
    <thead>
        <tr class="heading">

            <th>
                <span class="fa fa-camera control-label"></span>
            </th>
            <th>
                <span class="fa fa-user control-label"></span>
                @Html.DisplayName("Proveedor")
            </th>
            <th>
                <span class="fa fa-id-badge control-label"></span>
                @Html.DisplayName("RFC")
            </th>
            <th>
                <span class="fa fa-black-tie control-label"></span>
                @Html.DisplayName("Razón Social")
            </th>
            <th>
                <span class="fa fa-phone control-label"></span>
                @Html.DisplayName("Teléfono")
            </th>
            <th>
                <span class="fa fa-envelope control-label"></span>
                @Html.DisplayName("Email")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Image" class="img-responsive img-rounded" style="max-height:50px" />
                </td>
                <td class="text-capitalize">
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.Supplier.FTR)
                </td>
                <td class="text-capitalize">
                    @Html.DisplayFor(modelItem => item.Supplier.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Phone)
                </td>
                <td class="text-lowercase">
                    @Html.DisplayFor(modelItem => item.Supplier.Email)
                </td>

                <td>
                    <button class="@item.EditButton" type="button" onclick="BeginUpdateSupplier(@item.Supplier.PersonId)">
                        <span class="@Icons.Edit"></span>
                    </button>
                    <button class="@item.DeleteButton" type="button" onclick="BeginDelete('@item.Supplier.PersonId','@item.Supplier.Name')">
                        <span class="@Icons.Delete"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var idSupplier = 0;

    $(document).ready(function ()
    {
        Paginate("#TbSupplierList", 5, true, "#txtName");
    });

    function BeginDelete(id, name)
    {
        idSupplier = id;
        var hdr = "Eliminar Supplier!";
        var body = "¿Esta seguro que deseas eliminar el proveedor " + name + "?";
        ShowMessage(hdr, body, 'confirm', DeleteSupplier, null, 'static');
    }

    function DeleteSupplier()
    {
        ExecuteAjax('@Url.Action("DeleteSupplier","Catalog")', { id: idSupplier }, function (response)
        {
            HideLoading(function ()
            {
                ShowNotify(response.Header, response.Result, response.Body, 2500);
            });
        });
    }

</script>