@model Argos.ViewModels.Generic.SupplierVm
@using Argos.Models.Operative

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("SaveSupplier", "Catalog", FormMethod.Post, new { id = "SupplierForm" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs clearfix">
        <li class="active">
            <a data-toggle="tab" href="#general" id="tabMainProduct" style="background-color:whitesmoke !important">
                <span class="fa fa-handshake-o"></span>
                Datos del Proveedor
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#addresses" id="tabAddress" style="background-color:whitesmoke !important">
                <span class="fa fa-street-view"></span>
                Direcciones
            </a>
        </li>

        <li class="pull-right">
            <div>
                <button type="submit" id="EditSupplierSave" title="Guardar datos del proveedor" class="btn btn-success  btn-round">
                    <span class="fa fa-save"></span>

                </button>
                <button type="button" class="btn btn-default btn-round" id="EditCancel" title="Cerrar ventana">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </li>
    </ul>

    <div class="tab-content">

        <div id="general" class="tab-pane fade in active">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-default">
                <div class="panel-body">
                    <hr />
                    <div class="row">
                        <div class="col-md-3 btn-group-vertical">
                            <div style="position:relative">
                                <img src="@Model.Image" id="imgPerson" class="img-responsive" style="min-height:100px" />
                                <button type="button" id="btnDropImage" class="@Model.DropImageButton" style="position:absolute; top:0;" onclick="RemoveImage()">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>
                            <label id="btnUpload" class="btn btn-success btn-xs">
                                <input type="file" name="images" onchange="OnImageLoaded(this)" style="display: none;">
                                <span class="fa fa-upload"></span>
                            </label>
                        </div>

                        <div class="form-group col-md-8">
                            @Html.LabelFor(model => model.Supplier.Name, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.EditorFor(model => model.Supplier.Name, new { htmlAttributes = new { @class = "form-control text-capitalize input-sm", autocomplete = "off" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Supplier.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Supplier.FTR, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-badge"></i></span>
                                @Html.EditorFor(model => model.Supplier.FTR, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Supplier.FTR, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-8">
                            @Html.LabelFor(model => model.Supplier.BusinessName, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
                                @Html.EditorFor(model => model.Supplier.BusinessName, new { htmlAttributes = new { @class = "form-control text-capitalize input-sm", autocomplete = "off" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Supplier.BusinessName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-7">
                            @Html.LabelFor(model => model.Supplier.Email, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                @Html.EditorFor(model => model.Supplier.Email, new { htmlAttributes = new { @class = "form-control text-lowercase input-sm", autocomplete = "off" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Supplier.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => model.Supplier.Phone, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                @Html.EditorFor(model => model.Supplier.Phone, new { htmlAttributes = new { @class = "form-control input-sm", autocompleate = "off" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Supplier.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(m => m.Supplier.PersonId)
            @Html.HiddenFor(m => m.Supplier.ImagePath)
            @Html.HiddenFor(m => m.DropImage)
        </div>

        <div id="addresses" class="tab-pane fade in" style="overflow-y:auto; max-height:380px">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Partial("_AddressGroup", Model.Addresses)
                </div>
            </div>
        </div>
    </div>

}
<script>
    $(document).ready(function ()
    {
        $("#Supplier_Phone").mask("(999) 999 99 99");

        $("#Supplier_FTR").mask("aaa*99999****");
    });

</script>