@model Argos.ViewModels.Generic.PersonFilterViewModel<Client>
@using Argos.Models.Operative

@{
    ViewBag.Title = "Catálogo de Clientes";
    ViewBag.Class = "fa fa-users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-danger hidden-sm hidden-xs">
    <div class="panel-body">
        <div class="col-md-11">
            <div class="input-group ">
                @Html.TextBox("txtFtr", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "RFC",
               style = "width:30%"
           })
                @Html.TextBox("txtName", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "Clave o nombre del cliente",
               style = "width:70%"
           })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"  onclick="SearchClients()">
                        <span class="glyphicon glyphicon-search"></span>
                        <u>B</u>uscar
                    </button>
                    <button type="button" class="btn btn-success"  onclick="BeginAddClient()">
                        <span class="glyphicon  glyphicon-file"></span>
                        <u>N</u>uevo
                    </button>
                </span>
            </div>
        </div>
        <br />
        <div class="col-md-10" style="margin-top:10px">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownList("ddlStateId", Model.States, "Estado / Entidad", new { @class = "form-control" })
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownList("ddlCityId", Model.Cities, "Ciudad / Municipio", new { @class = "form-control" })
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" id="btnClear" onclick="Clear()">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <u>L</u>impiar
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div id="divClientList" class="panel-body" style="min-height:300px">
        @Html.Partial("_ClientList", Model.Entities)
    </div>
</div>


<script>
    $(document).ready(function ()
    {
        SetCascade('#ddlStateId', '#ddlCityId', '@Url.Action("GetCities","Configuration")');
        $("#liClients").addClass("active")
    });

   
    function BeginAddClient()
    {
        ShowClientModal(SearchById, null, null);
    }

    function BeginUpdateClient(id)
    {
        ShowClientModal(SearchById,null, id)
    }

    function SearchById(id)
    {
        ExecuteAjax('@Url.Action("SearchClients")', { id: id }, function (response)
        {
            $("#divClientList").html(response);
        });
    }

    function SearchClients()
    {
        ShowLoading('static');

        var data = {
            ftr: $("#txtFtr").val(), name: $("#txtName").val(),
            stateId: $("#ddlStateId").val(), cityId: $("#ddlCityId").val()
        };

        ExecuteAjax('@Url.Action("SearchClients")', data, function (response)
        {
            HideLoading(function ()
            {
                $("#divClientList").html(response);
            });
        });
    }

    function Clear()
    {
        window.location = window.location;
    }
</script>