@model IEnumerable<Argos.Models.Catalog.Employee>

@{
    ViewBag.Title = "Catálogo de Empleados";
    ViewBag.Class = "fa fa-address-card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="panel panel-danger">
    <div class="panel-body">
        <div class="col-md-11">
            <div class="input-group ">
                @Html.TextBox("txtFtr", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "RFC",
               style = "width:30%"
           })
                @Html.TextBox("txtName", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "Clave o nombre del empleado",
               style = "width:70%"
           })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnSearch" onclick="SearchEmployees()">
                        <span class="glyphicon glyphicon-search"></span>
                        <u>B</u>uscar
                    </button>
                    <button type="button" class="btn btn-success" id="btnCreate" onclick="BeginAddEmployee()">
                        <span class="glyphicon  glyphicon-file"></span>
                        <u>N</u>uevo
                    </button>
                </span>
            </div>
        </div>
        <br /><br />
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownList("ddlStateId", (SelectList)ViewBag.States, "Estado / Entidad", new { @class = "form-control" })
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownList("ddlCityId", (SelectList)ViewBag.Cities, "Ciudad / Municipio", new { @class = "form-control" })
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" id="btnClear" onclick="Clear()">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <u>L</u>impiar
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div id="divEmployeeList" class="panel-body" style="min-height:300px">
        @Html.Partial("_EmployeeList", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        SetCascade('#ddlStateId', '#ddlCityId', '@Url.Action("GetCities","Configuration")');
       
        $("#liEmployees").addClass("active");
    });

    function BeginAddEmployee() {
        ShowLoading(true);

        ExecuteAjax('@Url.Action("BeginAddEmployee", "Catalog")', {}, function (response) {
            HideLoading(function () {
                ShowModal('<span class="fa fa-user-o"></span>Creación de Empleado', response, SaveEmployee, function () { }, 'static');
            });
        });
    }

    function BeginUpdateEmployee(id)
    {
        ShowLoading(true);

        ExecuteAjax('@Url.Action("BeginUpdateEmployee", "Catalog")', { id: id }, function (response)
        {
            HideLoading(function () {
                ShowModal('<span class="fa fa-user-o"></span>Edición de Empleado', response, SaveEmployee, null, 'static');
            });
        });
    }

    function SaveEmployee()
    {
        var form = $("#EmployeeForm");

        if (!form.valid())
            return;

        ShowModLoading();

        var employee = {
            Name: $("#Name").val(), JobPositionId: $("#JobPositionId").val(), FTR: $("#FTR").val(), Street: $("#Street").val(),
            Commission: $("#Commission").val(), InNumber: $("#InNumber").val(), OutNumber: $("#OutNumber").val(), Location: $("#Location").val(),
            Email: $("#Email").val(), SSN: $("#SSN").val(), ZipCode: $("#ZipCode").val(), Phone: $("#Phone").val(), BirthDate: $("#BirthDate").val(),
            EmployeeId: $("#EmployeeId").val(), CityId: $("#CityId").val(), IsActive: $("#IsActive").val(), Gender: $("input[name=Gender]:checked")
        }
        console.log(employee);

        if (parseInt(employee.EmployeeId) > 0)
        {
            ExecuteAjax('@Url.Action("UpdateEmployee")', { employee: employee }, function (response)
            {
                SearchEmployeeById(response.Id);
                HideModal(true, function () {
                    ShowMessage(response.Header, response.Body, response.Result, null, null, 'static');
                });
            });
        }
        else
        {
            ExecuteAjax('@Url.Action("AddEmployee")', { employee: employee }, function (response)
            {
                SearchEmployeeById(response.Id);
                HideModal(true, function ()
                {
                    ShowMessage(response.Header, response.Body, response.Result, null, null, 'static');
                });
            });
        }
    }

    function SearchEmployeeById(id)
    {
        ExecuteAjax('@Url.Action("SearchEmployees")', { id: id }, function (response)
        {
            $("#divEmployeeList").html(response);
        });
    }

    function SearchEmployees()
    {
        ShowLoading('static');

        var data = {
            ftr: $("#txtFtr").val(), name: $("#txtName").val(),
            stateId: $("#ddlStateId").val(), cityId: $("#ddlCityId").val()
        };

        ExecuteAjax('@Url.Action("SearchEmployees")', data, function (response) {
            HideLoading(function ()
            {
                $("#divEmployeeList").html(response);
            });
        });
    }

    function Clear()
    {
        window.location = window.location;
    }
</script>