@model Argos.ViewModels.Inventory.SearchProductsVM

@{
    ViewBag.Title = "Catálogo de Productos";
    ViewBag.Class = "fa fa-cubes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3><span class="@ViewBag.Class"></span>@ViewBag.Title</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input id="filter" type="text" class="form-control" placeholder="Filtrar por...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Buscar!</button>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.Title <small>@ViewBag.SubTitle</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link collapsed"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-11 input-group">
                    @Html.DropDownListFor(m => m.Filter.CategoryId, Model.Lists.Categories, "Categoría", new { @class = "form-control text-uppercase", style = "width:20% !important" })
                    @Html.DropDownListFor(m => m.Filter.SubCategoryId, Model.Lists.SubCategories, "Sub Categoría", new { @class = "form-control text-uppercase", style = "width:20% !important" })
                    @Html.TextBoxFor(m => m.Filter.Text, "", htmlAttributes: new { @class = "form-control text-uppercase", placeholder = "Búsqueda por código o descripción", style = "width:60% !important" })
                    <div class="input-group-btn">
                        <button class="btn btn-primary " type="button" title="Buscar productos" onclick="SearchProducts()">
                            <span class="glyphicon glyphicon-search"></span>
                            Buscar
                        </button>
                        <button type="button" class="btn btn-success hidden-xs hidden-sm" title="Registrar nuevo producto" onclick="BeginAddProduct()">
                            <span class="glyphicon  glyphicon-file"></span>
                            Nuevo
                        </button>
                    </div>
                </div>

                <div class="input-group col-md-10 hidden-sm hidden-xs" style="margin-top:10px">
                    <span class="input-group-addon"><i class="fa fa-registered"></i></span>
                    @Html.DropDownListFor(m => m.Filter.MakerId, Model.Lists.Makers, "Armadora", new { @class = "form-control text-capitalize" })
                    <span class="input-group-addon"><i class="fa fa-car"></i></span>
                    @Html.DropDownListFor(m => m.Filter.ModelId, Model.Lists.Models, "Modelo", new { @class = "form-control text-capitalize" })
                    <span class="input-group-addon"><i class="fa fa-calendar-check-o"></i></span>
                    @Html.DropDownListFor(m => m.Filter.Year, Model.Lists.Models, "Año", new { @class = "form-control text-capitalize" })
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" id="btnClear" title="Recargar">
                            <span class="glyphicon glyphicon-refresh"></span>
                            Limpiar
                        </button>
                    </span>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div id="divProductList" class="panel-body" style="min-height:300px">
                @Html.Partial("_ProductList", Model.Products)
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        SetCascade('#Filter_MakerId', '#Filter_ModelId', '@Url.Action("GetModels","Configuration")');

        SetCascade('#Filter_ModelId', '#Filter_Year', '@Url.Action("GetYears", "Configuration")');

        SetCascade('#Filter_CategoryId', '#Filter_SubCategoryId', '@Url.Action("GetProductSubCategories", "Configuration")');
    });

    function BeginAddProduct()
    {
        ShowProductModal(CompleateSave, null);
    }

    function BeginUpdateProduct(id)
    {
        ShowProductModal(CompleateSave, null, id);
    }

    function CompleateSave(response)
    {
        var filter = { ProductId: response.Id };

        ShowNotify(response.Header, response.Result, response.Body);
       
        ExecuteAjax('@Url.Action("SearchProducts")', filter, function (view)
        {
            $("#divProductList").html(view);
        });
    }

    function SearchProducts()
    {
        ShowLoading('static');

        var filter = {
            CategoryId: $("#Filter_CategoryId").val(), SubCategoryId: $("#Filter_SubCategoryId").val(), Text: $("#Filter_Text").val(),
            MakerId: $("#Filter_MakerId").val(), ModelId: $("#Filter_ModelId").val(), Year: $("#Filter_Year").val()
        };

        ExecuteAjax('@Url.Action("SearchProducts","Catalog")', { filter: filter }, function (response)
        {
            HideLoading(function () {
                $("#divProductList").html(response);
            });
        });
    }

    function Clear() {
        window.location = window.location;
    }
</script>
