@model IEnumerable<Argos.Models.Catalog.Provider>

@{
    ViewBag.Title = "Catálogo de Proveedores";
    ViewBag.Class = "fa fa-handshake-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="panel panel-danger">
    <div class="panel-body">
        <div class="col-md-11">
            <div class="input-group ">
                @Html.TextBox("txtFtr", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "RFC",
               style = "width:30%"
           })
                @Html.TextBox("txtName", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "Clave o nombre del Proveedor",
               style = "width:70%"
           })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnSearch" onclick="SearchProviders()">
                        <span class="glyphicon glyphicon-search"></span>
                        <u>B</u>uscar
                    </button>
                    <button type="button" class="btn btn-success" id="btnCreate" onclick="BeginAddProvider()">
                        <span class="glyphicon  glyphicon-file"></span>
                        <u>N</u>uevo
                    </button>
                </span>
            </div>
        </div>
        <br /><br /><br />
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownList("ddlStateId", (SelectList)ViewBag.States, "Estado / Entidad", new { @class = "form-control" })
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownList("ddlCityId", (SelectList)ViewBag.Cities, "Ciudad / Municipio", new { @class = "form-control" })
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" id="btnClear" onclick="Clear()">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <u>L</u>impiar
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div id="divProviderList" class="panel-body" style="min-height:300px">
        @Html.Partial("_ProviderList", Model)
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        SetCascade('#ddlStateId', '#ddlCityId', '@Url.Action("GetCities","Configuration")');
    });

    function BeginAddProvider() {
        ShowLoading(true);

        ExecuteAjax('@Url.Action("BeginAddProvider", "Catalog")', {}, function (response) {
            HideLoading(function () {
                ShowModal('<span class="fa fa-handshake-o"></span>Nuevo Provedor', response, SaveProvider, function () { }, 'static');
            });
        });
    }

    function BeginUpdateProvider(id)
    {
        ShowLoading(true);

        ExecuteAjax('@Url.Action("BeginUpdateProvider", "Catalog")', {id:id}, function (response) {
            HideLoading(function () {
                ShowModal('<span class="fa fa-handshake-o"></span> Edición de Proveedor', response, SaveProvider, null, 'static');
            });
        });
    }

    function SaveProvider()
    {
        var form = $("#ProviderForm");

        if (!form.valid())
            return;

        ShowModLoading();

        var provider = {
            Name: $("#Name").val(), BusinessName: $("#BusinessName").val(), FTR: $("#FTR").val(), Street: $("#Street").val(),
            InNumber: $("#InNumber").val(), OutNumber: $("#OutNumber").val(), Location: $("#Location").val(), Email: $("#Email").val(),
            ZipCode: $("#ZipCode").val(), Phone: $("#Phone").val(), ProviderId: $("#ProviderId").val(), CityId: $("#CityId").val(),
            WebSite: $("#WebSite").val()
        }

        if (parseInt(provider.ProviderId) > 0)
        {
            ExecuteAjax('@Url.Action("UpdateProvider")', { provider: provider }, function (response)
            {
                SearchById(response.Id);
                HideModal(true, function () {
                    ShowMessage(response.Header, response.Body, response.Result, null, null, 'static');
                });
            });
        }
        else
        {
            ExecuteAjax('@Url.Action("AddProvider")', { provider: provider }, function (response)
            {
                SearchById(response.Id);
                HideModal(true, function ()
                {
                    ShowMessage(response.Header, response.Body, response.Result, null, null, 'static');
                });
            });
        }
    }

    function SearchById(id)
    {
        ExecuteAjax('@Url.Action("SearchProviders")', { id: id }, function (response)
        {
            $("#divProviderList").html(response);
        });
    }

    function SearchProviders()
    {
        ShowLoading('static');

        var data = {
            ftr: $("#txtFtr").val(), name: $("#txtName").val(),
            stateId: $("#ddlStateId").val(), cityId: $("#ddlCityId").val()
        };

        ExecuteAjax('@Url.Action("SearchProviders")', data, function (response) {
            HideLoading(function ()
            {
                $("#divProviderList").html(response);
            });
        });
    }

    function Clear()
    {
        window.location = window.location;
    }
</script>