@model  IEnumerable<Argos.Models.Business.Address>


<table id="tbAddress" class="table  table-bordered jambo_table">
    <thead>
        <tr class="heading">
            <td>
                @Html.DisplayNameFor(model => model.Street)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Location)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ZipCode)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TownId)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Town.StateId)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.AddressTypeId)
            </td>
            <td>
                <button class="@Argos.Common.Styles.Buttons.XSmall.Success" type="button" onclick="ShowAddAddress()" id="btnAddAddress">
                    @Html.Raw(Argos.Common.Styles.ButtonContent.Add)
                </button>
            </td>
        </tr>
        <tr id="NewAddressRow" class="hidden">
            <td class="text-capitalize">
                <input type="hidden" id="item_EntityId" />
                <input type="hidden" id="item_AddressId" />
                <a id="lblStreet" class="text-capitalize"></a>
                <input type="hidden"  id="item_Street"/>
            </td>
            <td class="text-capitalize">
                <a id="lblLocation" class="text-capitalize"></a>
                <input type="hidden" id="item_Location" />
            </td>
            <td class="text-uppercase">
                <a id="lblZipCode" class="text-capitalize"></a>
                <input type="hidden" id="item_ZipCode" />
            </td>
            <td class="text-capitalize">
                <a id="lblTown" class="text-capitalize"></a>
                <input type="hidden" id="item_TownId" />
            </td>
            <td class="text-capitalize">
                <a id="lblState" class="text-capitalize"></a>
            </td>
            <td class="text-capitalize">
                <a id="lblAddressType" class="text-capitalize"></a>
                <input type="hidden" id="item_AddressTypeId" />
            </td>
            <td>
                <button class="@Argos.Common.Styles.Buttons.XSmall.Danger" onclick="DropAddress(this)" type="button">
                    @Html.Raw(Argos.Common.Styles.ButtonContent.Eliminate)
                </button>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var typeId = (int)item.AddressTypeId;
            <tr >
                <td class="text-capitalize">
                    @Html.HiddenFor(m => item.EntityId)
                    @Html.HiddenFor(m => item.AddressId)
                    @Html.DisplayFor(m => item.Street)
                    @Html.HiddenFor(m => item.Street)
                </td>
                <td class="text-capitalize">
                    @Html.DisplayFor(m => item.Location)
                    @Html.HiddenFor(m => item.Location)
                </td>
                <td class="text-uppercase">
                    @Html.DisplayFor(m => item.ZipCode)
                    @Html.HiddenFor(m => item.ZipCode)
                </td>
                <td class="text-capitalize">
                    @Html.DisplayFor(m => item.Town.Name)
                    @Html.HiddenFor(m=> item.TownId)
                </td>
                <td class="text-capitalize">
                    @Html.DisplayFor(m => item.Town.State.Name)
                </td>
                <td class="text-capitalize">
                    <input type="hidden" value="@typeId" id="item_AddressTypeId" />
                    @Html.DisplayFor(m => item.AddressType.Name)
                </td>
                <td>
                    <button class="@Argos.Common.Styles.Buttons.XSmall.Danger" type="button" onclick="DropAddress(this)" id="btnRemoveAddress">
                        @Html.Raw(Argos.Common.Styles.ButtonContent.Eliminate)
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>



<script>
    var DroppedAddress = [];

    $(document).ready(function ()
    {
        DroppedAddress = [];
    });

    function DropAddress(button)
    {
        var row = $(button).parent().parent();

        var addressId = row.find("#item_AddressId").val();
        
        if (parseInt(addressId) > 0)
        {
            DroppedAddress.push(addressId);
        }

        row.remove();
    }

    function ShowAddAddress()
    {
        ExecuteAjax('@Url.Action("AddAddress","Catalog")', {}, function (view)
        {
            ShowChildModal(view);
        });
    }

</script>
