
@model IEnumerable<Argos.Models.Business.EmailAddress>

<table id="tbEmails" class="table jambo_table">
    <thead>
        <tr class="heading">
            <td >
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.EmailTypeId)
            </td>
            <td>
                <button class="@Argos.Common.Styles.Buttons.XSmall.Success" type="button" onclick="ShowAddEmail()">
                    @Html.Raw(Argos.Common.Styles.ButtonContent.Add)
                </button>
            </td>
        </tr>
        <tr id="NewEmailRow" class="hidden">
            <td class="text-lowercase">
                <a id="lblEmail"></a>
                <input type="hidden" id="item_Email" />
                <input type="hidden" id="item_EntityId" />
            </td>
            <td>
                <a id="lblEmailType"></a>
                <input type="hidden" id="item_EmailTypeId" />
            </td>
            <td>
                <button class="@Argos.Common.Styles.Buttons.XSmall.Danger" type="button" onclick="DropEmail(this)">
                    @Html.Raw(Argos.Common.Styles.ButtonContent.Eliminate)
                </button>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-lowercase">                    
                    @Html.DisplayFor(model=> item.Email)      
                    @Html.HiddenFor(model => item.EntityId)  
                    @Html.HiddenFor(model => item.Email)                
                </td>
                <td>
                    @Html.DisplayFor(model => item.EmailType.Name)
                </td>
                <td>
                    <button class="@Argos.Common.Styles.Buttons.XSmall.Danger" type="button" onclick="DropEmail(this)">
                        @Html.Raw(Argos.Common.Styles.ButtonContent.Eliminate)
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
   
    var DroppedMails = [];

    $(document).ready(function ()
    {
        DroppedMails = [];
    });

    function ShowAddEmail()
    {
        ExecuteAjax('@Url.Action("AddEmail","Catalog")', {}, function (view)
        {
            ShowChildModal(view);
        });
    }

    function DropEmail(button)
    {
        var row = $(button).parent().parent();

        var id = row.find("#item_EntityId").val();

        if (parseInt(id) > 0)
        {
            var typeId = row.find("#item_Email").val();
            DroppedMails.push(typeId);
        }

        row.remove();
    }
</script>
