@model IEnumerable<Argos.Models.Business.PhoneNumber>

<table id="tbPhones" class="table jambo_table">
    <thead>
        <tr class="heading">
            <td>
                @Html.DisplayNameFor(model => model.Phone)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PhoneTypeId)
            </td>
            <td>
                <button type="button" class="btn btn-success btn-xs pull-right" onclick="ShowAddPhone()">
                    <span class="fa fa-plus"></span>
                </button>
            </td>
        <tr id="NewPhoneRow" class="hidden">
            <td>
                <a id="lblPhone"></a>
                <input type="hidden" id="item_Phone" />
            </td>
            <td>
                <a id="lblPhoneType"></a>
                <input type="hidden" id="item_PhoneTypeId" />
            </td>
            <td>
                <button class="btn btn-danger btn-xs pull-right" type="button" onclick="DropPhone(this)">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var phoneType = (int)item.PhoneTypeId;

            <tr>
                <td>
                    @Html.DisplayFor(m => item.Phone)
                    @Html.HiddenFor(m => item.Phone)
                    @Html.HiddenFor(m => item.EntityId)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PhoneType.Name)
                </td>
                <td>
                    <button class="btn btn-danger btn-xs pull-right" type="button" onclick="DropPhone(this)">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var DroppedPhones = [];

    $(document).ready(function ()
    {
        DroppedPhones = [];
    });

    function ShowAddPhone()
    {
        ExecuteAjax('@Url.Action("AddPhone","Catalog")', {}, function (view)
        {
            ShowChildModal(view);
        });
    }

    function DropPhone(button)
    {
        var row = $(button).parent().parent();
       
        var id = row.find('[id="item_EntityId"]').val();

        if (parseInt(id) > 0)
        {
            var phone = row.find('[id="item_Phone"]').val();
            DroppedPhones.push(phone);
        }
        row.remove();
    }
</script>