@model List<Argos.ViewModels.Inventory.ProductViewModel>
@using Argos.Support


    <table id="tbProducts" class="table table-responsive table-striped jambo_table small" style="width:100%">
        <thead>
            <tr class="heading" >
                <th style="min-width:50px">

                </th>
                <th>
                    @Html.DisplayName("Código")
                </th>
             
                <th style="min-width:250px">
                    @Html.DisplayName("Descripción")
                </th>
                <th>
                    @Html.DisplayName("Marca")
                </th>
                <th>
                    @Html.DisplayName("Unidad")
                </th>
                <th>
                    @Html.DisplayName("Costo")
                </th>
                <th>
                    @Html.DisplayName("Compra")
                </th>
                <th>
                    @Html.DisplayName("Venta")
                </th>
                <th>
                    @Html.DisplayName("Imagenes")
                </th>
                <th style="min-width:150px">
                    @Html.DisplayName("Fecha de alta")
                </th>
                <th style="min-width:150px">
                    @Html.DisplayName("Agregado por")
                </th>
                <th style="min-width:150px">
                    @Html.DisplayName("Fecha Modificación")
                </th>
                <th style="min-width:150px">
                    @Html.DisplayName("Modificado por")
                </th>
                <th style="min-width:100px">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var items in Model)
        {
                <tr class='@items.RowState'>
                  
                    <td style="max-width:50px">
                        <img src='@items.ImagePath' class="img-responsive"/>
                    </td>
                    <td class="text-uppercase">
                        @Html.DisplayFor(model => items.Product.Code)
                    </td>
                    <td class="text-capitalize">
                        @Html.DisplayFor(model => items.Product.Description)
                    </td>
                    <td class="text-capitalize">
                        @Html.DisplayFor(model => items.Product.TradeMark)
                    </td>
                    <td class="text-capitalize">
                        @Html.DisplayFor(model => items.Product.MeasureUnit.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => items.Product.BuyPrice)
                    </td>
                    <td>
                        <div class="checkbox-inline">
                            @Html.EditorFor(modelItem => items.Product.IsForPurchase, new { htmlAttributes = new { @class = "flat", disabled = true } })
                        </div>
                    </td>
                    <td>
                        <div class="checkbox-inline">
                            @Html.EditorFor(modelItem => items.Product.IsForSale, new { htmlAttributes = new { @class = "flat", disabled = true } })
                        </div>
                    </td>
                    <td>
                        @items.Product.ProductImages.Count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.Product.InsDate)
                    </td>
                    <td>
                        <a class="text-capitalize">
                            @Html.DisplayFor(modelItem => items.Product.InsUser)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.Product.UpdDate)
                    </td>
                    <td>
                        <a class="text-capitalize">
                            @Html.DisplayFor(modelItem => items.Product.UpdUser)
                        </a>
                    </td>
                  
                    <td>
                        <button class="btn btn-primary btn-sm" title="Ver detalle de producto" 
                               onclick="ShowDetail(@items.Product.ProductId)">
                            @Html.Raw(Argos.Common.Styles.ButtonContent.Detail)
                        </button>

                        <button class="btn btn-danger btn-sm" title="Eliminar producto" disabled="@items.DeleteDisabled"
                                onclick="BeginDelete('@items.Product.ProductId')" >
                            @Html.Raw(Argos.Common.Styles.ButtonContent.Eliminate)
                        </button>

                    </td>
                </tr>
        }
        </tbody>
    </table>




<script>
    var idProduct = 0;

    $(document).ready(function ()
    {
       //$.fn.dataTable.ext.classes.sPageButton = 'btn btn-success';
        
        Paginate("#tbProducts", 8, true, "#Filter_Text", null, null, function () { iCheckInit(); })

        iCheckInit();

        //$("#tbProducts_previous").removeClass("btn btn-success");
        //$("#tbProducts_next").removeClass("btn btn-success");
    });

    function BeginDelete(id, description) {
        idProduct = id;
        var hdr = "Eliminar Producto!";
        var body = "Esta seguro que deseas eliminar el producto del catálogo " + description;
        ShowMessage(hdr, body, 'confirm', DeleteProduct, null, 'static');
    }

    function DeleteProduct()
    {
        ExecuteAjax('@Url.Action("DeleteProduct","Catalog")', { id: idProduct }, function (response)
        {
            HideLoading(function ()
            {
                if (response.Result == '@Argos.Common.Constants.Responses.Success')
                {
                    ShowMessage(response.Header, response.Body, response.Result, null, SearchProducts, 'static');
                }
                else
                {
                    ShowMessage(response.Header, response.Body, response.Result, null, null, 'static');
                }
            });
        });
    }
</script>