@model IEnumerable<Argos.ViewModels.Generic.PersonViewModel<Supplier>>
@using Argos.Support;
@using Argos.Models.Purchasing


<table id="TbSupplierList" class="table table-responsive table-striped jambo_table small" style="width:100%">
    <thead>
        <tr class="heading">

            <th  />
            <th style="min-width:250px">
                @Html.DisplayName("Nombre")
            </th>
            <th style="min-width:250px">
                @Html.DisplayName("Razón Social")
            </th>
            <th>
                @Html.DisplayName("RFC")
            </th>
            <th>
                @Html.DisplayName("Teléfonos")
            </th>
            <th>
                @Html.DisplayName("Emails")
            </th>
            <th>
                @Html.DisplayName("Direcciones")
            </th>
            <th style="min-width:150px">
                @Html.DisplayName("Fecha de alta")
            </th>
            <th style="min-width:150px">
                @Html.DisplayName("Agregado por")
            </th>
            <th style="min-width:150px">
                @Html.DisplayName("Fecha Modificación")
            </th>
            <th style="min-width:150px">
                @Html.DisplayName("Modificado por")
            </th>
            <th/>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="max-width:50px">
                    <img src="@item.Image" class="img-responsive img-rounded" />
                </td>
                <td>
                    <a class="text-capitalize">
                        @Html.DisplayFor(modelItem => item.Person.Name)
                    </a>
                </td>
                <td class="text-capitalize">
                    @Html.DisplayFor(modelItem => item.Person.BusinessName)
                </td>
                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.Person.FTR)
                </td>
                <td>
                    @item.Person.PhoneNumbers.Count
                </td>
                <td class="text-lowercase">
                    @item.Person.EmailAddresses.Count
                </td>
                <td class="text-lowercase">
                    @item.Person.Addresses.Count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.InsDate)
                </td>
                <td>
                    <a class="text-capitalize">
                        @Html.DisplayFor(modelItem => item.Person.InsUser)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.UpdDate)
                </td>
                <td>
                    <a class="text-capitalize">
                        @Html.DisplayFor(modelItem => item.Person.UpdUser)
                    </a>
                </td>

                <td>
                    <button class="btn btn-success btn-sm" type="button" onclick="ShowDetail(@item.Person.EntityId)">
                       @Html.Raw(Argos.Common.Styles.ButtonContent.Detail)
                    </button>
                    <button class="btn btn-danger btn-sm" type="button" disabled="@item.DeleteDisabled"
                            onclick="BeginDelete('@item.Person.EntityId','@item.Person.Name')">
                      @Html.Raw(Argos.Common.Styles.ButtonContent.Eliminate)
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var idSupplier = 0;

    $(document).ready(function ()
    {
        Paginate("#TbSupplierList", 5, true, "#txtName", false, '#tbButtons');
    });

    function BeginDelete(id, name)
    {
        idSupplier = id;
        var hdr = "Eliminar Proveedor!";
        var body = "¿Esta seguro que deseas eliminar el proveedor " + name + "?";
        ShowMessage(hdr, body, 'confirm', DeleteSupplier, null, 'static');
    }

    function DeleteSupplier()
    {
        ExecuteAjax('@Url.Action("DeleteSupplier","Catalog")', { id: idSupplier }, function (response)
        {
            HideLoading(function ()
            {
                ShowNotify(response.Header, response.Result, response.Body, 2500);
            });
        });
    }

</script>