@model Argos.ViewModels.Inventory.SearchProductsVM

@{
    ViewBag.Title = "Productos";
    ViewBag.Class = "fa fa-cubes hidden-xs";
    ViewBag.SubTitle = "Filtros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left col-xs-12">
        <h3>
            <a class="@ViewBag.Class"></a>

            @ViewBag.Title
        </h3>
    </div>
    <div class="title_right col-xs-12">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                @Html.TextBoxFor(m => m.Filter.Text, "", htmlAttributes: new { @class = "form-control text-uppercase", placeholder = "Búsqueda por..", type = "text" })
                <span class="input-group-btn">
                    <button class="btn btn-default " type="button" title="Buscar productos" onclick="SearchProducts()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left  panel_toolbox">
                    <li id="tbButtons" class="hidden">

                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button class="btn btn-default" type="button" title="Exportar" onclick="ExcelDT()">
                            <i class="fa fa-file-excel-o"> </i>
                            Exportar
                        </button>
                        <button type="button" class="@Argos.Common.Styles.Buttons.Success" title="Captura un nuevo producto" onclick="BeginAddProduct()">
                            @Html.Raw(Argos.Common.Styles.ButtonContent.Add)
                        </button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div id="divProductList" style="min-height:300px">
                    @Html.Partial("_ProductList", Model.Products)
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function ()
    {
        SetCascade('#Filter_CategoryId', '#Filter_SubCategoryId', '@Url.Action("GetProductSubCategories", "Configuration")');
    });

    function BeginAddProduct()
    {
        ShowCatalogModal(CompleateSave, null,"Product");
    }

    var editProductId = 0;

    function ShowDetail(id)
    {
        ShowCatalogModal(CompleateSave, null, 'Product', id, function ()
        {
            editProductId = id;
            $('#general :input').attr('disabled', true);
            $('#images :input').attr('disabled', true);
            $("#EditProductSave").addClass('hidden')
            $("#BeginEditProduct").removeClass('hidden')
        });
    }

    function BeginUpdate()
    {
        HideModal(function ()
        {
            ShowCatalogModal(CompleateSave, function () { ShowDetail(editProductId); }, 'Product', editProductId);
        }, true);

    }

    function CompleateSave(response)
    {
        ExecuteAjax('@Url.Action("SearchProducts")', { ProductId: response.Id }, function (view)
        {
            $("#divProductList").html(view);
        });
    }

    function SearchProducts()
    {
        ShowLoading('static');

        var filter = {
            CategoryId: $("#Filter_CategoryId").val(), SubCategoryId: $("#Filter_SubCategoryId").val(), Text: $("#Filter_Text").val(),
            MakerId: $("#Filter_MakerId").val(), ModelId: $("#Filter_ModelId").val(), Year: $("#Filter_Year").val()
        };

        ExecuteAjax('@Url.Action("SearchProducts","Catalog")', { filter: filter }, function (response)
        {
            HideLoading(function ()
            {
                $("#divProductList").html(response);
            });
        });
    }

    function Clear()
    {
        window.location = window.location;
    }
</script>
