@model Argos.ViewModels.Generic.PersonSearchVieModel<Supplier>
@using Argos.Models.Purchasing

@{
    ViewBag.Title = "Proveedores";
    ViewBag.Class = "fa fa-handshake-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left col-xs-12">
        <h3>
            <a class="@ViewBag.Class"></a>
            @ViewBag.Title
        </h3>
    </div>
    <div class="title_right col-xs-12">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                @Html.TextBox("txtName", "", htmlAttributes: new { @class = "form-control text-uppercase", placeholder = "Búsqueda por..", type = "text" })
                <span class="input-group-btn">
                    <button class="btn btn-default " type="button" title="Buscar productos" onclick="SearchSuppliers()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-left  panel_toolbox">
                    <li id="tbButtons" class="hidden">

                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="group-btn">
                        <button class="btn btn-default" type="button" title="Exportar" onclick="ExcelDT()">
                            <i class="fa fa-file-excel-o"> </i>
                            Exportar
                        </button>
                        <button type="button" class="@Argos.Common.Styles.Buttons.Success" title="Captura un nuevo proveedor" onclick="BeginAddSupplier()">
                          @Html.Raw(Argos.Common.Styles.ButtonContent.Add)
                        </button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div id="divSupplierList" style="min-height:300px">
                    @Html.Partial("_SupplierList", Model.Entities)
                </div>
            </div>
        </div>

    </div>
</div>



<script>
    $(document).ready(function () {
        SetCascade('#ddlStateId', '#ddlCityId', '@Url.Action("GetCities","Configuration")');
    });

    function BeginAddSupplier()
    {
        ShowCatalogModal(SearchById, null, 'Supplier', null);
    }


    var editSupplierId = 0;

    function ShowDetail(id)
    {
        ShowCatalogModal(SearchById, null, 'Supplier', id, function ()
        {
            editSupplierId = id;
            $('#general :input').attr('disabled', true);
            $('#addresses :input').attr('disabled', true);
            $("#EditSupplierSave").addClass('hidden')
            $("#BeginEditSupplier").removeClass('hidden')
        });
    }


    function BeginUpdate()
    {
        HideModal(function () {
            ShowCatalogModal(SearchById, function () { ShowDetail(editSupplierId); }, 'Supplier', editSupplierId);
        }, true);

    }

    function SearchById(id)
    {
        ExecuteAjax('@Url.Action("SearchSuppliers")', { id: id }, function (response) {
            $("#divSupplierList").html(response);
        });
    }

    function SearchSuppliers() {
        ShowLoading('static');

        var data = {
            ftr: $("#txtFtr").val(), name: $("#txtName").val(),
            stateId: $("#ddlStateId").val(), townId: $("#ddlCityId").val()
        };

        ExecuteAjax('@Url.Action("SearchSuppliers")', data, function (response) {
            HideLoading(function () {
                $("#divSupplierList").html(response);
            });
        });
    }

    function Clear() {
        window.location = window.location;
    }
</script>