@model IEnumerable<Service>
@using Argos.Models.Production

<table id="tbServices" class="table table-responsive table-striped small jambo_table" style="width:100%">

    <thead>
        <tr>
            <th style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.ServiceTypeId)
            </th>
            <th style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>

            <th style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.CompletionDate)
            </th>
            <th style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.InsDate)
            </th>
            <th style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.InsUser)
            </th>
            <th style="white-space:nowrap">
                @Html.DisplayNameFor(model => model.UpdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdUser)

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <div class="checkbox-inline">
                        @Html.EditorFor(modelItem => item.IsDone, new { htmlAttributes = new { @class = "BlockEdit flat", disabled = true } })
                    </div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdUser)
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function ()
    {
        Paginate("#tbServices", 8, true, null, false, null, function () { iCheckInit(); })
    });
</script>
