@model IEnumerable<Argos.Models.Purchasing.PurchaseDetail>


<table id="tbPurchaseDetails" class="table table-bordered jambo_table">
    <thead>
        <tr class="heading">
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderQty)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.ReceivedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RejectedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
          
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RejectedQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineTotal)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.DetailId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.DetailId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.DetailId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function ()
    {
        Paginate("#tbPurchaseDetails", 50, false, null);
    });
</script>