
@{
    ViewBag.Title = "_NestedLayout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Navigation colores azules #265a88 -->
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#337ab7;" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:whitesmoke">Argos v.1.0</a>
        </div>

        @Html.Partial("_TopMenu")

        @Html.Partial("_SideMenu")
    </nav>
    @Html.Partial("_Modal")
    @Html.Partial("_Loading")
    @Html.Partial("_Message")

    <div id="page-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

</div>
@RenderSection("scripts", required: false)

